{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-postcss"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-class-properties"
    ],
    [
      "transform-define",
      {
        "process.env.BACKEND_URL": "http://localhost:3001",
        "process.env.FRONTEND_URL": "http://localhost:3000"
      }
    ]
  ],
  "ignore": [],
  "sourceMaps": false
}