/* sarina-regular - latin */
@font-face {
  font-family: 'Sarina';
  font-style: normal;
  font-weight: 400;
  src: local('Sarina'), local('Sarina-Regular'),
          url('/static/fonts/sarina-v6-latin-regular.woff2') format('woff2'),
          url('/static/fonts/sarina-v6-latin-regular.woff') format('woff');
}

/* great-vibes-regular - latin */
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'),
          url('/static/fonts/great-vibes-v5-latin-regular.woff2') format('woff2'),
          url('/static/fonts/great-vibes-v5-latin-regular.woff') format('woff');
}

#page {
  background: #FFF;
  padding: 100px 80px;
}

.page-inner {
  max-width: 1000px;
}

#logo {
  padding: 50px 20px 0 20px;
}

#logo h1 {
  font-size: 1.7em;
}

#logo h1 a {
  color: #FFFFFF;
  font-weight: 300;
  font-family: Sarina, Serif;
}

#logo p {
  text-align: right;
  color: #FFFFFF;
  font-family: Great Vibes, Serif;
}

#main {
  margin-left: 200px;
}

@media (max-width: 992px) {
  #main {
    margin-left: 0px;
  }
}

.main-menu .ant-menu-item {
  text-align: right;
  font-family: Great Vibes, Serif;
  font-size: 16px;
}

.search input {
  margin-top: 4px;
  opacity: 0.6;
}

.search input:focus {
  opacity: 1;
}

.search .ant-input-suffix {
  top:54%;
  right: 3px;
}
